@tailwind base;
@tailwind components;
@tailwind utilities;

/* ℹ️ Base selector: .homebg */
.homebg {
  height: 900px;
  background-image: url("/public/Rectangles.png");
}

.horizontal {
  position: absolute;
  height: 0px;
  left: 0px;
  top: 83px;
  border: 0.5px solid #ff4d08;
}

.homefront {
  left: 379px;
  top: 627px;
  background: linear-gradient(
    90.05deg,
    rgba(73, 0, 216, 0.4) 0.04%,
    rgba(255, 14, 106, 0.4) 101%
  );
}

.path{
  position: absolute;
  left: 43.5%;
  right: 54.65%;
  top: 74.49%;
  bottom: 87.3%;

}
.name {
  position: absolute;
  width: 166px;
  height: 28px;
  left: 510px;
  top: 629px;
  font-family: Sen;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 146.1%;
  text-transform: uppercase;
  color: #ffffff;
}

.hrorange {
  position: absolute;
  width: 198.43px;
  height: 0px;
  left: 544px;
  top: 679.06px;
  border: 1px solid #ff4d08;
}

.hrwhite {
  position: absolute;
  width: 364.43px;
  height: 0px;
  left: 663px;
  top: 679.06px;
  border: 1px solid #ffffff;
}

.playbutton {
  position: absolute;
  left: 33.4%;
  right: 69.38%;
  top: 73.76%;
  bottom: 87.2%;

}

.timeslot {
  position: absolute;
  left: 68.68%;
  right: 21.53%;
  top: 74.09%;
  bottom: 87.29%;
  font-family: Sen;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #ffffff;
}
