@tailwind base;
@tailwind components;
@tailwind utilities;

.artcolor {
  color: #ff4d08;
}

.paddingrow1{
  @apply pt-12 pl-12 font-bold;
}

.leadername{
  color: #C3C5D1;
  font-size: 16px;
}

.leaderpush{
  @apply absolute;
  top:3944px;
}

.leaderdate{
font-size: 14px;
}

.line{
  width: 453px;
}

.tableheadbg {
  @apply rounded;
  background: linear-gradient(90.05deg, #4900d8 0.04%, #ff0e6a 101%), #000000;

}

.iwanttosing{
  position: absolute;
  width: 706px;
  height: 80px;
  top: 735px;

  background: #FFFFFF;
  box-shadow: -8px 9px 34px rgba(3, 3, 3, 0.1);
  border-radius: 20px;
}

.iwanttosingfont{
  position: absolute;
  width: 680px;
  height: 80px;
  top: 235px;
  left:800px;
  
  font-family: Sen;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  
  color: #FF4D08;
  
}