@tailwind base;
@tailwind components;
@tailwind utilities;

/* ℹ️ Base selector: .linear */
.linearbackground {
  background: linear-gradient(90.05deg, #4900D8 0.04%, #FF0E6A 101%), #FFFFFF;
}

.doyouwanttovote{
  position: absolute;
  width: 800px;
  height: 45px;
  left: 135px;
  top: 98px;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 51px;

  color: #FFFFFF;
}

.doyouwanttovotesent{
  position: absolute;
  width: 1146px;
  height: 59px;
  left: 136px;
  top: 171px;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 146.1%;
  /* or 26px */


  color: #FFFFFF;
}
