@tailwind base;
@tailwind components;
@tailwind utilities;


.rectanglebox {
  @apply absolute;
  width: 370px;
  height: 640px;
  left: 145px;
  top: 127px;
  background-color: rgba(255, 77, 8, 1);
}

.SingContainer{
  left:500px;
}

.rectboxtext {
  line-height: 43px;
}

.singpush{
  @apply absolute;
  top:1028px;
}

.linearpush{
  @apply absolute;
  
}

/* ℹ️ Base selector: .singergirl */
.singergirl {
  position: absolute;
  width: 383px;
  height: 439px;
  left: 68px;
  top: 273px;
  transform: scaleX(1);
  background-image: url("/public/siger\ 1.png") ;

}

.steps {
  @apply absolute w-20 h-6 not-italic font-extrabold text-lg text-orange-600 top-5 left-6;
}
.stepstext {
  position: absolute;
  width: 310px;
  height: 50px;
  left: 25px;
  top: 175px;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 146.1%;
  /* or 26px */

  text-align: center;

  color: #ffffff;
}
.stepsimage {
  @apply relative;
  width: 100%;
  height: 100%;

  background-image: url("/public/Group2.png");
}