@tailwind base;
@tailwind components;
@tailwind utilities;


.ourtopsinger{
  font-size: 33px;
}

/* ℹ️ Base selector: .singer */
.singer {
  @apply font-extrabold h-8 text-xl leading-6 pt-1 absolute text-white not-italic w-48;
  left: 290px;
  top: 602px;
  background-color: rgba(255, 77, 8, 1);
  padding-left: 1.25%;
}

.topsingpush{
  @apply absolute;
  top: 2700px;
}

.shares{
  margin-left: 82%;
}


.explain1 {
    @apply h-24 text-lg leading-8 absolute text-center text-white not-italic;
    width: 60%;
    left: 290px;
    top: 6%;
    font-weight: normal;
  }
  
  .topsingerbgcolor
  {
    background: #242228;
  }
  .topsingeravgcolor
  {
    background: #191919;
  }
