@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ℹ️ Base selector: .sing */
.sing {
  @apply bg-black absolute left-0 w-full;
  height: 882px;
  top: 1047px;
}

/* ℹ️ Base selector: .linear */
.linear {
  @apply absolute left-0 w-full;
  height: 787px;
  top: 1929px;
  opacity: 0.8;
  background: linear-gradient(90.05deg, #4900D8 0.04%, #FF0E6A 101%), #FFFFFF;
}
.largeblack {
  @apply bg-black relative w-full;
  height: 2568px;
  top: 2715px;
}
.largeblack1 {
  @apply relative w-full;
margin-top: 10%;
}

.home {
  @apply h-0 absolute left-0 w-full;
  top: 86px;
}

.ourtopsinger{
  font-size: 33px;
}
.rectanglebox {
  @apply absolute;
  width: 370px;
  height: 640px;
  left: 145px;
  top: 127px;
  background-color: rgba(255, 77, 8, 1);
}

/* ℹ️ Base selector: .rectboxtext */
.rectboxtext {
  @apply font-extrabold h-32 text-4xl relative text-white not-italic w-48;
  left: 68px;
  top: 35px;
  line-height: 43px;
}
/* 26/26 base rules are converted successfully. */
/* Gather results from the console with `copy(window.cssToTailwindResults)` */

/* ℹ️ Base selector: .whitebox1 */
.whitebox1 {
  @apply border-solid border box-border absolute;
  width: 370px;
  height: 414px;
  left: 685px;
  top: 257px;
  background-color: rgba(251, 251, 251, 1);
  border-color: rgba(196, 196, 196, 1);
  box-shadow: -8px 9px 34px rgba(3, 3, 3, 0.1);
  border-radius: 30px;
}

/* ℹ️ Base selector: .whitebox2 */
.whitebox2 {
  @apply border-solid border box-border absolute;
  width: 370px;
  height: 414px;
  left: 1090px;
  top: 257px;
  background-color: rgba(251, 251, 251, 1);
  border-color: rgba(196, 196, 196, 1);
  box-shadow: -8px 9px 34px rgba(3, 3, 3, 0.1);
  border-radius: 30px;
}
/* ℹ️ Base selector: .tickbox */
.tickbox {
  @apply  absolute;
  left: 240px;
  top: 510px;
  border-radius: 75px;
}

/* ℹ️ Base selector: .crossbox */
.crossbox {
  @apply  absolute;
  left: 426.38px;
  top: 510px;
  border-radius: 75px;
}


/* ℹ️ Base selector: .box1 */
.box1 {
  @apply absolute;
  width: 370px;
  height: 306px;
  left: 535px;
  top: 127px;
  background-color: rgba(36, 34, 40, 1);
  box-shadow: -8px 9px 34px rgba(3, 3, 3, 0.1);
}

/* ℹ️ Base selector: .box2 */

.box2 {
  @apply absolute;
  width: 370px;
  height: 306px;
  left: 935px;
  top: 127px;
  background-color: rgba(36, 34, 40, 1);
  box-shadow: -8px 9px 34px rgba(3, 3, 3, 0.1);
}

/* ℹ️ Base selector: .box3 */

.box3 {
  @apply absolute;
  width: 370px;
  height: 306px;
  left: 535px;
  top: 461px;
  background-color: rgba(36, 34, 40, 1);
  box-shadow: -8px 9px 34px rgba(3, 3, 3, 0.1);
}

/* ℹ️ Base selector: .box4 */
.box4 {
  @apply absolute;
  width: 370px;
  height: 306px;
  left: 935px;
  top: 461px;
  background-color: rgba(36, 34, 40, 1);
  box-shadow: -8px 9px 34px rgba(3, 3, 3, 0.1);
}

.shares{
  margin-left: 82%;
}
/* ℹ️ Base selector: .singergirl */
.singergirl {
  @apply absolute;
  width: 383px;
  height: 439px;
  left: 95px;
  top: 328px;
  background-image: url("/public/siger\ 1.png");
  transform: scaleX(1);
}

/* ℹ️ Base selector: .homebg */
.homebg {
  @apply bg-center bg-cover absolute top-0 left-0;
  height: 1100px;
  background-image: url("/public/Rectangles.png");
  mix-blend-mode: normal;
}

/* ℹ️ Base selector: .contenthome */

.contenthome {
  @apply font-extrabold h-24 text-5xl absolute left-0 text-center not-italic w-full;
  top: 266px;
  line-height: 55px;
  color: rgba(255, 77, 8, 1);
}

/* ℹ️ Base selector: .explain */
.explain {
  @apply h-24 text-lg leading-8 absolute text-center text-white not-italic;
  width: 60%;
  left: 290px;
  top: 401px;
  font-weight: normal;
}

.artcolor{
  color: #FF4D08;

}

.tbody{
  height: 
}

.explain1 {
  @apply h-24 text-lg leading-8 absolute text-center text-white not-italic;
  width: 60%;
  left: 290px;
  top: 6%;
  font-weight: normal;
}

/* ℹ️ Base selector: .time */
.time {
  @apply h-60 absolute left-0 w-full;
  top: 922px;
  background: linear-gradient(90.05deg, #4900D8 0.04%, #FF0E6A 101%);
}
.im{
  position: absolute;
width: 145px;
height: 145px;


border-radius: 10px;
}

/* ℹ️ Base selector: .counter */
.counter {
  @apply text-2xl font-light gap-16 text-white not-italic;
  padding-left: 19%;
  padding-top: 1.75%;

  font-weight: bold;
  line-height: 35px;
}

/* ℹ️ Base selector: .singer */
.singer {
  @apply font-extrabold h-8 text-xl leading-6 pt-1 absolute text-white not-italic w-48;
  left: 290px;
  top: 602px;
  background-color: rgba(255, 77, 8, 1);
  padding-left: 1.25%;
}

/* ℹ️ Base selector: .audio */
.audio {
  @apply h-32 absolute;
  width: 900px;
  left: 270px;
  top: 656px;
}

/* ℹ️ Base selector: .logo h2 */
.logo h2 {
  @apply bg-white absolute;
  left: 7.13%;
  right: 84.65%;
  top: 0.54%;
  bottom: 99.04%;
}

/* ℹ️ Base selector: .footer */
.footer {
  @apply h-6 text-base absolute text-center text-white not-italic w-full;
  top: 30px;

  font-weight: normal;
  line-height: 146.1%;
}

/* ℹ️ Base selector: .days */
.days {
  @apply font-extrabold h-8 text-5xl absolute text-white not-italic w-8;
  left: 865px;
  top: 956px;

  line-height: 60px;
}

/* ℹ️ Base selector: .largebox1-1 */
.largebox1-1 {
  @apply absolute;
  width: 370px;
  height: 421px;
  left: 135px;
  top: 257px;
  background-color: rgba(36, 34, 40, 1);
  border-radius: 14px;
}

/* ℹ️ Base selector: .largebox1-2 */
.largebox1-2 {
  @apply absolute;
  width: 370px;
  height: 421px;
  left: 535px;
  top: 257px;
  background-color: rgba(17, 17, 17, 0.8);
  border-radius: 14px;
}

/* ℹ️ Base selector: .largebox1-3 */
.largebox1-3 {
  @apply absolute;
  width: 370px;
  height: 421px;
  left: 935px;
  top: 257px;
  background-color: rgba(36, 34, 40, 1);
  border-radius: 14px;
}

/* ℹ️ Base selector: .largebox2-1 */
.largebox2-1 {
  @apply absolute;
  width: 370px;
  height: 421px;
  left: 135px;
  top: 708px;
  background-color: rgba(36, 34, 40, 1);
  border-radius: 14px;
}

/* ℹ️ Base selector: .largebox2-2 */
.largebox2-2 {
  @apply absolute;
  width: 370px;
  height: 421px;
  left: 535px;
  top: 708px;
  background-color: rgba(36, 34, 40, 1);
  border-radius: 14px;
}

/* ℹ️ Base selector: .largebox2-3 */
.largebox2-3 {
  @apply absolute;
  width: 370px;
  height: 421px;
  left: 935px;
  top: 708px;
  background-color: rgba(36, 34, 40, 1);
  border-radius: 14px;
}

/* ℹ️ Base selector: .viewmore */
.viewmore {
  @apply font-extrabold h-6 text-lg absolute text-center not-italic w-24;
  left: 600px;
  top: 1228px;

  line-height: 146.1%;
  color: rgba(255, 77, 8, 1);
  border-radius: 60px;
}

.ongoing{
  @apply font-extrabold h-12 text-4xl absolute text-center text-white not-italic;
  width: 95%;
  align-items:center;
  top: 1328px;
  line-height: 51px;
}

.competition{
  position: absolute;
  width: 470px;
  height: 812px;
  left: 112px;
  top: 1515px;
  background: #FCFCFC;
  border: 1px solid #DC1EE7;
  box-sizing: border-box;
  border-radius: 20px;
}

.leaderboard{
  position: absolute;
  width: 705px;
  height: 812px;
  left: 579px;
  top: 0px;
  background: #FCFCFC;
  border: 1px solid #DCDEE7;
  box-sizing: border-box;
  border-radius: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.leaderboard_heading{
  position: absolute;
  width: 705px;
  height: 75px;
  left:-1px;
  top:-3px;
  background: linear-gradient(90.05deg, #4900D8 0.04%, #FF0E6A 101%), #000000;
  border-radius: 20px 20px 0px 0px;
}

.steps
{
  @apply absolute w-20 h-6 not-italic font-extrabold text-lg text-orange-600 top-5 left-6;
}
.stepstext{
  position: absolute;
  width: 310px;
  height: 50px;
  left: 25px;
  top: 175px;


  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 146.1%;
  /* or 26px */

  text-align: center;

  color: #FFFFFF;
}
.stepsimage
{
  @apply relative;
  width: 100%;
  height:100%;

  background-image: url("/public/Group2.png");
}
.horizontal{
  position: absolute;
  width: 1519px;
  height: 0px;
  left: 0px;
  top: 86px;

  border: 1px solid #FF4D08;
}
.homefront {
  position: absolute;
  width: 900px;
  height: 132px;
  left: 270px;
  top: 656px;

  background: linear-gradient(90.05deg, rgba(73, 0, 216, 0.4) 0.04%, rgba(255, 14, 106, 0.4) 101%);
}
.react-h5-audio-player {
      background-color: red !important;
}

.react-h5-audio-player {
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    
      flex: 1 0 60px;
      -webkit-box-flex: 1 0 60px;
      -moz-box-flex: 1 0 60px;
      -ms-flex: 1 0 60px;

      flex: 10 0 auto;
      -webkit-box-flex: 10 0 auto;
      -moz-box-flex: 10 0 auto;
      -ms-flex: 10 0 auto;
}
.jonathan{
  position: absolute;
  width: 166px;
  height: 28px;
  left: 468px;
  top: 700px;

  font-family: Sen;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 146.1%;

  text-transform: uppercase;
}

.innerbox1{
  position: absolute;
width: 300px;
height: 123px;
left: 30px;
top: 265px;

background: #191919;
border-radius: 14px;
}

.innerbox2{
  position: absolute;
  width: 300px;
  height: 123px;
  left: 30px;
  top: 265px;
  
  background: #191919;
  border-radius: 14px;
}
.innerbox3{
  position: absolute;
width: 300px;
height: 123px;
left: 30px;
top: 265px;

background: #191919;
border-radius: 14px;
}

.innerbox4{
  position: absolute;
  width: 300px;
  height: 123px;
  left: 30px;
  top: 265px;
  
  background: #191919;
  border-radius: 14px;
}
.innerbox5{
  position: absolute;
width: 300px;
height: 123px;
left: 30px;
top: 265px;

background: #191919;
border-radius: 14px;
}

.innerbox6{
  position: absolute;
  width: 300px;
  height: 123px;
  left: 30px;
  top: 265px;
  
  background: #191919;
  border-radius: 14px;
}

.audioplayer{
  color: orange;
}